.con{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.tabItemCon{
    border-bottom: 0px solid #000;
    margin-left: 16px;
    position: relative;
    padding-bottom: 8px;
}
.tabItemCon2{
    border-bottom: 2px solid #000;
    margin-left: 16px;
    position: relative;
    padding-bottom: 8px;
}
.tabItemCon::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    cursor: pointer;
    transition: 0.2s all linear;
}
.tabItemCon:hover::before{
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}
.tabItemCon:hover ~ .tabItemCon::before{
    left: 0;
}
.pic{
    display: flex;
    flex-direction: column;
}
.test{
    display: flex;
}
.itemCon{
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
    border-radius: 6px;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    padding: 12px;
    align-items: center;
    margin-top: 10px;
}
.img{
    width: 60px;
    height:60px;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    flex: 1;
}
.name{
    font-size: 14px;
    color: #000000;
}
.workNum{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 6px;
}
.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descStatus{
    font-size: 16px;
    color: #000000;
}